.App {
  .ant-layout-header {
    background: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 16px;
    width: 100%;
    z-index: 1;
    box-shadow: none;
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);

    .ant-dropdown-trigger.addmenu {
      width: 36px;
      height: 36px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;

      .anticon {
        color: #123B66;
        font-size: 20px;
      }

      &:hover {
        background: #123B66;

        .anticon {
          color: #fff;
        }
      }
    }

    .btnicon {
      width: 36px;
      height: 36px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;

      .anticon {
        color: #123B66;
        font-size: 20px;
      }

      &:hover {
        background: #123B66;

        .anticon {
          color: #fff;
        }
      }
    }

    .ant-dropdown-trigger.usermenu {
      height: 36px;
      background: #fff;
      border-radius: 36px;
      padding-right: 16px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;

      .anticon {
        color: #123B66;
        font-size: 12px;
      }

      .ant-avatar {
        width: 36px;
        height: 36px;
      }
    }
  }

  .ant-layout.ant-layout-has-sider {
    flex-direction: row;
    height: 100%;
  }

  .ant-layout .ant-layout-sider {
    position: relative;
    min-width: 0;
    transition: all 0.2s, background 0s;
  }

  .ant-menu-dark,
  .ant-menu-dark>.ant-menu {
    color: rgba(255, 255, 255, 0.65);
    /* background: $main_color_blue; */
  }

  .ant-menu-light,
  .ant-menu-light>.ant-menu {
    color: rgba(0, 0, 0, 0.88);
    background: none;
  }

  .ant-menu-light.ant-menu-inline .ant-menu-sub .ant-menu-item {
    background: #F3F4F5;
    margin-bottom: 1px;
    font-size: 13px;

    &:hover {
      background-color: #F3F4F5;
    }
  }

  .ant-menu-light.ant-menu-inline .ant-menu-item,
  .ant-menu-light.ant-menu-inline .ant-menu-submenu-title {
    padding: 12px 10px !important;
    margin: 0;
    height: auto;

    &:hover {
      background-color: transparent;
    }
  }

  .ant-menu-light.ant-menu-inline .ant-menu-item .ant-menu.ant-menu-light.ant-menu-inline-collapsed>.ant-menu-item .ant-menu-item-icon {
    margin-left: 6px;
  }



  .ant-menu-sub.ant-menu-light.ant-menu-inline>.ant-menu-item,
  .ant-menu-sub.ant-menu-light.ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title {
    padding-left: 8px !important;
  }

  .ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu-selected {

    background-color: #E9ECEF;

  }

  .ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu-open.ant-menu-submenu-selected {
    background-color: transparent;
  }

  .ant-menu-light.ant-menu-inline>.ant-menu-item,
  .ant-menu-light.ant-menu-vertical>.ant-menu-item,
  .ant-menu-light.ant-menu-vertical>.ant-menu-submenu,
  .ant-menu-light.ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title {
    height: auto;
    line-height: normal;

    .anticon {
      background: #fff;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
      color: #383F6B;
      font-size: 18px;
    }
  }



  .toggleBtn,
  .ant-layout-sider-zero-width-trigger {
    background: #ffffff;
    height: 36px !important;
    border-radius: 0;
    width: 31px !important;
    position: absolute;
    right: -30px;
    top: 126px;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 6px 0px 7px rgba(0, 0, 0, 0.1);
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;

    .anticon {
      font-size: 20px;
    }
  }
}

.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover,
.ant-menu-light>.ant-menu:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover {
  background-color: transparent;
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-menu-inline-collapsed>.ant-menu-item .ant-menu-item-icon+span {
  display: none;
}

.ant-menu-inline-collapsed.ant-menu-light.ant-menu-vertical>.ant-menu-item,
.ant-menu-inline-collapsed.ant-menu-light.ant-menu-vertical>.ant-menu-submenu {
  width: 46px;
  height: 46px;
  padding-inline: 0;
  padding: 7px;


  margin-inline: 0;
  margin-block: 0;
  margin: 4px;
}

.ant-menu-inline-collapsed.ant-menu-light.ant-menu-vertical>.ant-menu-submenu {
  padding: 0;

  &.ant-menu-submenu-selected {
    background: #E9ECEF;
  }
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light>.ant-menu .ant-menu-item-selected {
  background-color: #E9ECEF;
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light>.ant-menu .ant-menu-item-selected {
  color: #343434;
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-layout-sider .ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {
  width: auto;
  height: 100%;
}

.sidebar_menu_section .ant-menu-inline-collapsed.ant-menu-light .ant-menu-submenu-title {
  color: #3F506D;
  margin: 0;
  width: 46px;
  height: 46px;
  padding-inline: 0;
  padding: 7px;
  margin: 0;
  margin-inline: 0;
  margin-block: 0;
}

.ant-layout-content {
  padding: 16px 24px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ant-layout-content::-webkit-scrollbar {
  display: none;
}


.ant-layout-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.contentwraper {
  padding: 24px;

  .scrolldiv {
    background: #fff;
    padding: 24px;
    overflow: auto;
    overflow-x: hidden;
    border-radius: 16px;
    height: 100%;
  }

  .bredcrumbwrp {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;

    .back {
      padding-right: 10px;
      margin-right: 10px;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      color: #094E8F;
      font-size: 13px;
      font-weight: 600;

      svg {
        margin-right: 3px;
      }

    }
  }
}

.ant-layout-sider-children {
  height: 100%;
  margin-top: -0.1px;
  padding-top: 0.1px;
  display: flex;
  flex-direction: column;
}

.ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title,
.ant-menu-light>.ant-menu .ant-menu-submenu-selected>.ant-menu-submenu-title {
  color: #ffffff;
}



.sidebar_menu_section {
  position: relative;

  .LogoSec {
    margin: 0px auto 0 !important;
    height: 60px;
    padding-top: 5px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;

    .with-collapsed-logo {
      display: none;
    }
  }

  .ant-layout-sider-collapsed {

    .widhout-collapsed-logo {
      display: none !important;
    }

    .with-collapsed-logo {
      display: block !important;
    }

  }

  .ant-menu {
    font-size: 14px;
    font-weight: 500;
  }

  .ant-menu-item a {
    color: #094e8f;
  }

  .ant-menu-item a:hover {
    color: #292929 !important;
  }

  .ant-menu-light .ant-menu-submenu-title {
    color: #3F506D;
  }



  .ant-menu-submenu-expand-icon,
  .ant-menu-submenu-arrow {
    color: #094e8f;
  }

  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #E9ECEF !important;
  }

  :where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light .ant-menu-item-selected,
  :where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light>.ant-menu .ant-menu-item-selected {
    color: #3F506D;
  }

  :where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light.ant-menu-root.ant-menu-vertical {

    background: none;
  }

  .ant-menu-item-selected a,
  .ant-menu-item-selected a:hover {
    color: #fff;
  }



  .ant-menu-inline.ant-menu-root .ant-menu-item>.ant-menu-title-content {
    height: auto;
    line-height: normal;
    color: #3F506D;
  }

  .ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline {
    background: none;
    padding-left: 32px;
  }

  .ant-menu:not(.ant-menu-horizontal) .ant-menu-submenu-open .ant-menu-item-selected {
    background-color: #E9ECEF !important;

    a {
      color: #fff;
    }

    .ant-menu-item-icon {
      color: #fff;
    }
  }



  .ant-menu-light.ant-menu-inline .ant-menu-item::after {
    position: absolute;
    top: 0;
    left: 0 !important;
    bottom: 0;
    border-left: none !important;
    border-right: none !important;
    content: "";
  }

  .ant-menu {
    height: 100%;
    overflow: auto;
  }

  .ant-layout-sider {
    height: 100%;
    max-height: 100%;
    background: #F9FAFB;
  }

  .ant-menu-light.ant-menu-root.ant-menu-light.ant-menu-inline {

    background: none;
  }

  .ant-menu-sub.ant-menu-light.ant-menu-inline {
    background: #ffffff;
  }

}

.ant-menu-light .ant-menu-item-selected {
  background-color: rgba(255, 255, 255, 9);
}

.sidebar_menu {
  li {
    color: #094e8f;
    font-family: var(--font-MulishMedium);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 2px;

    span.ant-menu-title-content {
      text-align: left;
    }

    a {
      text-align: left;
      display: flex;
    }
  }
}

.ant-menu-light.ant-menu-inline .ant-menu-item,
.ant-menu-light.ant-menu-inline .ant-menu-submenu-title {

  width: calc(100% - 0px);
  margin: 0 0;
}

.sidebar_menu.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-submenu-title:hover,
.sidebar_menu.ant-menu-light>.ant-menu:not(.ant-menu-horizontal) .ant-menu-submenu-title:hover {
  background-color: #ffffff;
  color: #094e8f;
}

.sidebar_menu.ant-menu-light .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover {
  background-color: #ffffff;
  color: #094e8f;
}

/* .sidebar_menu.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-submenu-title::after,
  .sidebar_menu.ant-menu-light>.ant-menu:not(.ant-menu-horizontal) .ant-menu-submenu-title::after {
    /* border: 4px solid $Secondery_color; 
  } */

.ant-menu-light .ant-menu-item-selected::after,
.ant-menu-light>.ant-menu .ant-menu-item-selected::before {
  /* border: 4px solid $Secondery_color; */
  left: 0;
  width: 0;
}

.ant-breadcrumb a:hover {
  /* color: $main_color_blue; */
  background-color: transparent;
}

.ant-menu-light.ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 0px;
}


@media only screen and (max-width: 1500px) {

  .sidebar_menu_section {
    position: fixed;
  }

}

@media only screen and (max-width: 991px) {
  .sidebar_menu_section {
    position: fixed;
    height: 100vh;
    position: absolute;
    z-index: 999;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
  }

  .ant-layout-sider-collapsed {
    display: none;
  }


}

@media only screen and (max-width: 767px) {
  .ant-layout-content {
    padding: 16px;
  }
}

/*--------------------------
    1. Login
    --------------------------------*/

.login-container {
  display: flex;
  min-width: 98vw;
  height: 100vh;
  width: 100vw;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.login-left {
  flex: 1;
  background: linear-gradient(135deg, #fce4ec, #f8bbd0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
  overflow: hidden;
}

.login-field {
  height: 40px;
}

.back-to-home {
  cursor: pointer;
  font-size: 14px;
  color: #777;
}

.back-to-home:hover {
  color: #000;
}


.login-illustration {
  max-width: 80%;
  height: auto;
  margin-bottom: 20px;
}

.login-left h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.login-left p {
  font-size: 14px;
  color: #666;
  width: 500px;
  margin-bottom: 60px;
}

.login-right {
  flex: 1;
  padding: 40px;
  overflow: auto;
  margin: auto;
}

.login-form {
  max-width: 400px;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.login-form h1 {
  font-size: 26px;
  text-align: center;
  color: #333;
  margin-bottom: 60px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-field {
  position: relative;
  width: 106%;
}

.password-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.login-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.forgot-password {
  padding-bottom: 10px;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.btn-login {
  background: #ff6f61;
  color: #fff;
}

.btn-login:hover {
  background: #ff7f73;
}

.btn-google,
.btn-facebook {
  background: #eee;
  color: #333;
  margin: 5px 0;
}

.btn-google:hover {
  background: #e2e1e1;
  color: #000;
  margin: 5px 0;
}

.btn-facebook:hover {
  background: #e2e1e1;
  color: #000;
  margin: 5px 0;
}

.new-user {
  text-align: center;
  margin-top: 15px;
}

.new-user a {
  color: #ff6f61;
  text-decoration: none;
}

.new-user a:hover {
  text-decoration: underline;
}

.password-field {
  position: relative;
  display: flex;
  align-items: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-toggle {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #888;
}

.password-toggle:hover {
  color: #000;
}

@media (max-width: 768px) {

  .login-left {
    display: none;
  }

}


/*--------------------------
    3. Registration
    --------------------------------*/

.register-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.register-left {
  flex: 1;
  background: linear-gradient(135deg, #fce4ec, #f8bbd0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
  overflow: hidden;
}

.register-illustration {
  max-width: 80%;
  height: auto;
  margin-bottom: 20px;
}

.register-left h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.register-left p {
  font-size: 14px;
  color: #666;
  width: 80%;
  max-width: 500px;
  margin-bottom: 30px;
}

.register-right {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
  overflow-x: hidden;
}

.register-form {
  max-width: 400px;
  width: 90%;
  margin: auto;
}

.register-form h1 {
  font-size: 26px;
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.register-form .ant-form-item {
  margin-bottom: 20px;
}

.register-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

.register-username-field,
.register-email-field,
.register-password-field,
.type-select {
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  color: #333;
}

.register-password-field {
  position: relative;
}

.register-password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}

.register-password-toggle:hover {
  color: #333;
}

.password-strength {
  margin-top: -10px;
  margin-bottom: 10px;
}

.register-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.btn {
  width: 100%;
  height: 40px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.btn-signin {
  background: #ff6f61;
  color: #fff;
}

.btn-signin:hover {
  background: #ff8074;
  color: #fff;
}

.btn-google,
.btn-facebook {
  background: #eee;
  color: #333;
  margin: 5px 0;
}

.btn-google:hover,
.btn-facebook:hover {
  background: #e2e1e1;
  color: #000;
}

.register-alternate {
  text-align: center;
  margin-top: 20px;
}

.register-alternate p {
  margin-bottom: 10px;
}

.new-user {
  text-align: center;
  margin-top: 15px;
}

.new-user a {
  color: #ff6f61;
  text-decoration: none;
}

.new-user a:hover {
  text-decoration: underline;
}

.back-to-home-register {
  margin-bottom: 20px;
  font-size: 14px;
  color: #777;
  cursor: pointer;
}

.back-to-home-register i {
  font-size: 16px;
}

.back-to-home-register:hover {
  color: #333;
}

.custom-select {
  height: 40px;
}

@media (max-width: 768px) {
  .register-container {
    flex-direction: column;
  }

  .register-container {
    overflow: auto;
  }

  .register-left {
    display: none;
  }

  .register-right {
    flex: none;
    width: 100%;
    padding: 20px;
  }

  .register-illustration {
    width: 60%;
  }

  .register-form {
    width: 90%;
  }
}

@media (max-width: 500px) {

  .register-username-field,
  .register-email-field,
  .register-password-input-field {
    width: 90%;
  }

  .type-select {
    width: 90%;
  }

  .register-password-field {
    position: relative;
  }

  .register-password-toggle {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
  }

  .register-password-toggle:hover {
    color: #333;
  }

  .btn {
    width: 90%;
  }
}


/*--------------------------
    4. OTP VErification
  --------------------------------*/
.OTP-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #f5f5f5;
}

.OTP-left {
  flex: 1;
  background: linear-gradient(135deg, #fce4ec, #f8bbd0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
}

.OTP-left h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.OTP-left p {
  font-size: 14px;
  color: #666;
  width: 80%;
  margin-bottom: 40px;
}

.OTP-illustration {
  max-width: 80%;
  margin-bottom: 20px;
}

.OTP-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 20px;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.OTP-form {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.OTP-form h1 {
  font-size: 26px;
  color: #333;
  margin-bottom: 30px;
}

.OTP-input-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.OTP-input {
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.OTP-input:focus {
  border-color: #1890ff;
  box-shadow: 0 0 5px #1890ff;
  outline: none;
}

.OTP-submit-button {
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #fff;
  background: #1890ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.OTP-submit-button:hover {
  background: #40a9ff;
}

.link-resend-otp {
  text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 1024px) {

  /* Laptop */
  .OTP-left {
    display: none;
  }

  .OTP-right {
    flex: 1;
    width: 100%;
  }
}

@media (max-width: 768px) {

  /* Tablet and Mobile */
  .OTP-left {
    display: none;
  }

  .OTP-right {
    flex: 1;
    width: 100%;
    padding: 20px;
  }
}

/*--------------------------
    5. Dashboard
    --------------------------------*/

/* General Container */
.dashboard-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  background-color: #f7f9fc;
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
}

/* Fullscreen Row */
.dashboard-widget-row,
.dashboard-main-content {
  width: 100%;
  margin: 0 auto;
}

/* Widget Section */
.dashboard-graph-widget {
  background: linear-gradient(135deg, #4caf50, #8bc34a);
  color: white;
  padding: 24px;
  border-radius: 12px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.dashboard-graph-widget .dashboard-icon-container {
  position: absolute;
  top: 12px;
  right: 12px;
  opacity: 0.2;
  font-size: 24px;
}

.dashboard-graph-widget .graphico-details h3 {
  font-size: 1.5rem;
  margin: 0;
}

.dashboard-graph-widget .graphico-details p {
  font-size: 0.875rem;
  margin: 0;
}

.dashboard-graph-widget .dashboard-percentage {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: bold;
}

/* Chart Section */
.dashboard-chart-wrapper {
  background: #ffffff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.dashboard-date-range {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Info Box */
.dashboard-info-box {
  background: #ffffff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
}

.dashboard-box-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.dashboard-info-box-item {
  background: #f3f6fa;
  border-radius: 8px;
  text-align: center;
  padding: 12px;
}

.dashboard-info-box-item h3 {
  margin: 8px 0;
}

.dashboard-info-box-item .dot {
  width: 12px;
  height: 12px;
  margin: 0 auto 8px;
  background-color: #888;
  border-radius: 50%;
}

/* Profit/Loss */
.dashboard-profit-details {
  text-align: center;
  margin-bottom: 24px;
}

.dashboard-profit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
  background: #f3f6fa;
}

.dashboard-profit.green {
  background: #eaffea;
}

.dashboard-profit.red {
  background: #ffeaea;
}

.dashboard-profit .dot {
  background-color: #28a745;
}

.dashboard-profit.red .dot {
  background-color: #dc3545;
}

.dashboard-profit h3,
.dashboard-profit p {
  margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .dashboard-header {
    flex-direction: column;
    gap: 16px;
  }

  .dashboard-graph-widget,
  .dashboard-chart-wrapper,
  .dashboard-info-box {
    text-align: center;
  }
}


/*--------------------------
     6. Forget Password
    --------------------------------*/

.forget-password-container {
  display: flex;
  min-width: 98vw;
  height: 100vh;
  width: 100vw;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.forget-password-left {
  flex: 1;
  background: linear-gradient(135deg, #fce4ec, #f8bbd0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
  overflow: hidden;
}

.forget-password-left p {
  font-size: 14px;
  color: #666;
  width: 80%;
  max-width: 500px;
  margin-bottom: 30px;
}

.forget-password-left.hidden-on-laptop {
  display: flex;
}

.forget-password-right {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.forget-password-back-to-home {
  align-self: flex-start;
  font-size: 14px;
  color: #777;
  margin-top: -100px;
  cursor: pointer;
}

.forget-password-back-to-home:hover {
  color: #333;
}

.forget-password-form {
  width: 100%;
  max-width: 400px;
  margin-bottom: 50px;
}

.forget-password-heading {
  margin-top: -100px;
}

.forget-password-input-field {
  width: 93%;
  padding: 0.8rem;
  font-size: 18px;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-forget-password {
  width: 100%;
  padding: 0.8rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 768px) {

  .forget-password-left.hidden-on-laptop {
    display: none;
  }
}



/*-----------------
    7. Reset Password
  -----------------------*/

.reset-password-field {
  height: 45px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eba259;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eba259;
}

.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover,
.ant-menu-light>.ant-menu:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover {
  background-color: transparent;
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-menu-inline-collapsed>.ant-menu-item .ant-menu-item-icon+span {
  display: none;
}

.ant-menu-inline-collapsed.ant-menu-light.ant-menu-vertical>.ant-menu-item,
.ant-menu-inline-collapsed.ant-menu-light.ant-menu-vertical>.ant-menu-submenu {
  width: 46px;
  height: 46px;
  padding-inline: 0;
  padding: 7px;


  margin-inline: 0;
  margin-block: 0;
  margin: 4px;
}

.ant-menu-inline-collapsed.ant-menu-light.ant-menu-vertical>.ant-menu-submenu {
  padding: 0;

  &.ant-menu-submenu-selected {
    background: #E9ECEF;
  }
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light>.ant-menu .ant-menu-item-selected {
  background-color: #E9ECEF;
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-ni1kz0).ant-menu-light>.ant-menu .ant-menu-item-selected {
  color: #343434;
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-layout-sider .ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {
  width: auto;
  height: 100%;
}

.sidebar_menu_section .ant-menu-inline-collapsed.ant-menu-light .ant-menu-submenu-title {
  color: #3F506D;
  margin: 0;
  width: 46px;
  height: 46px;
  padding-inline: 0;
  padding: 7px;
  margin: 0;
  margin-inline: 0;
  margin-block: 0;
}

.ant-layout-content {
  padding: 16px 24px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ant-layout-content::-webkit-scrollbar {
  display: none;
}


.ant-layout-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.contentwraper {
  padding: 24px;

  .scrolldiv {
    background: #fff;
    padding: 24px;
    overflow: auto;
    overflow-x: hidden;
    border-radius: 16px;
    height: 100%;
  }

  .bredcrumbwrp {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;

    .back {
      padding-right: 10px;
      margin-right: 10px;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      color: #094E8F;
      font-size: 13px;
      font-weight: 600;

      svg {
        margin-right: 3px;
      }

    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* a:hover {
  /* color: $main_color_blue; 
} */

::selection {
  color: #fff;
  /* background: $main_color_blue; */
}

html {
  height: 100%;
  font-size: 62.5%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ant-layout,
.ant-layout * {
  box-sizing: border-box;
  /* //padding: 0; */
}

a,
a:hover {
  text-decoration: none;
}

body {
  height: 100%;
  font-family: "Poppins", sans-serif;

  #root {
    height: 100%;
  }

  .App {
    height: 100%;
  }
}

.m-0 {
  margin: 0 !important;
}
ant-layout.ant-layout-has-sider {
  flex-direction: row;
  height: 100vh;
  background: #F9FAFB;
}

.ant-layout {
  background: #F9FAFB;
}

body .ant-layout-sider .sidebar_menu {
  padding: 0 16px;
  overflow: auto;
  overflow-x: hidden;
}

/*  */

.dwidget {
  display: flex;
  gap: 16px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  justify-content: space-between;

  .icond {
    background: #123B66;
    border-radius: 10px;
    overflow: hidden;
    min-width: 56px;
    min-height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::before {
      content: "";
      width: 70px;
      height: 70px;
      background-color: rgb(255 255 255 / 10%);
      position: absolute;
      left: -7px;
      top: -35px;
      border-radius: 50%;
    }

    svg {
      position: relative;
    }
  }

  .count {
    flex: auto;

    h3 {
      color: #0A0A0A;
      font-size: 26px;
      font-weight: 600;
      margin: 0;
      margin-top: -5px;
    }

    p {
      color: #848484;
      font-size: 16px;
    }
  }

  .percent {
    color: #82D616;
    font-size: 16px;
    font-weight: 500;
  }
}
